// max width of non-gallery page content (e.g. about page)
$page-max-width: 62rem !default;

:root {
  color-scheme: light dark;

  --page-bg: light-dark(#ffffff, #111111);
  --page-text: light-dark(#333333, #e4e4e4);
  --link-color: var(--page-text);
  --font-family-base: "Aspekta Variable", system-ui, sans-serif;
  --page-max-width: #{$page-max-width};
}
