---
layout: layouts/base.vto
title: Home
---

{{ include "partials/gallery.vto" }}

<link rel="stylesheet" href="/assets/css/vendor/photoswipe.css">
<link rel="stylesheet" href="/assets/css/vendor/photoswipe-dynamic-caption-plugin.css">

{{ if gallery_style === "masonry-js" }}
<script src="/assets/js/vendor/macy.js"></script>
<script src="/assets/js/gallery-masonry.js"></script>
{{ /if }}
<script type="module" src="/assets/js/gallery-lightbox.js"></script>
