<header class="site-header">
  <div class="site-title">
    <a href="/">{{ site }}</a>
  </div>
  <nav class="site-nav">
    {{ for page of search.pages("menu=true") }}
    <a href="{{ page.url }}">{{ page.title }}</a>
    {{ /for }}
  </nav>
</header>
